<p style="color: green"><%= notice %></p>

<% @trips.each do |trip| %>
  <div>
    <h3><%= trip.name %></h3>
    <p><%= trip.start_date %> - <%= trip.end_date %></p>
    <p>Participants: 
      <% trip.users.each do |user| %>
        <%= user.name %>
        <% if user != trip.users.last %>, <% end %>
      <% end %>
    </p>
    <%= link_to 'Show', trip_path(trip) %>
  </div>
<% end %>
<%= link_to "New trip", new_trip_path %>
