<div class = "container-fluid trips">
<% if current_user %>
  <p>Track Another Adventure: <%= link_to "New Trip", new_trip_path, class: "btn btn-primary newTripButton" %></p>
<div class = "card col-6 mb-5 logIn">
  <h4 class = "p-3"> My Trips!</h4>
  <table class = "m-3 tripsTable">
    <tr>
      <th>Trip Name</th>
      <th>Start State</th>
      <th>End Date </th>
      <th>Participants</th>
    </tr>
    <% @trips.each do |trip| %> 
    <tr>
      <th><%= link_to trip.name, trip_path(trip) %></th>
      <td><%= trip.start_date %></td>
      <td><%= trip.end_date %></td>
      <td>
        <% participants = trip.users.map(&:name).join(", ") %>
        <%= participants %>
      </td>
    </tr>
    <% end%>
  </table>
</div>
<% else  %>
<div class = "tripsNotSign">
  <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary signButton' %>
<p>You are currently not signed in. Please press "Sign In" above to view, create, or show trips and/or expenses. Thank You!</p>
<% end %>
</div>
</div>

