<p style="color: green"><%= notice %></p>

<%= render @trip %>
<div class = "trips">
  <p class = "tripsHead">
    <strong>Participants</strong>
  <ul>
    <% @trip.participants.each do |participant| %>
      <li>
        <%= participant.user.name %>:
        <%= participant.user.email %>
      </li>
    <% end %>
  </ul>
</div>
<div class = "trips">
  <%= link_to "Edit this trip", edit_trip_path(@trip) %>
  <%= link_to "Back to trips", trips_path %>
  <%= link_to 'View Expenses', trip_expenses_path(@trip), class: 'btn btn-primary' %>



  <%= button_to "Destroy this trip", @trip, method: :delete %>
</div>
