<div class = "container-fluid">
  <div class = "card trips logIn col-5">
    <p style="color: green"><%= notice %></p>

    <%= render @trip %>
    <div class = "trips">
      <p class = "tripsHead">
        <h5>Participants</h5>
        <% @trip.participants.each do |participant| %>
            <p><%= participant.user.name %>:
            <%= participant.user.email %></p>
        <% end %>
    </div>
    <div class = "trips">
      <%= link_to "Edit this trip", edit_trip_path(@trip), class: "btn btn-primary logInButton m-2" %>
      <%= link_to "Back to trips", trips_path, class: "btn btn-primary logInButton" %>

      <%= link_to 'View Expenses', trip_expenses_path(@trip), class: "btn btn-primary logInButton m-2" %>

      <%= button_to "Delete Trip", @trip, class: "btn btn-primary logInButton", method: :delete, class: "btn btn-primary logInButton m-2 mb-3" %>
    </div>
  </div>
</div>
