<p style="color: green"><%= notice %></p>

<%= render @trip %>

<div class = "p-2">
  <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %>
  <%= link_to 'View Expenses', trip_expenses_path(@trip), class: 'btn btn-primary' %>



  <%= button_to "Destroy this trip", @trip, method: :delete %>
</div>
