<div class = "container-fluid">
  <div class="card col-6 logIn mb-5">
    <div class="card-header">
      <h4>Welcome Back! Please Log In!</h4>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group logInForm">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control logInField", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group logInForm">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control logInField", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check logInForm">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="form-group text-center logInForm">
          <%= f.submit "Log In", class: "btn btn-primary logInButton"  %>
        </div>
      <% end %>
    </div>

    <p>Don't have an account? <a href = <%=new_registration_path(resource_name)%>> Sign Up</a> Today!</p>
    <p><a href = <%=new_password_path(resource_name)%>> Forgot Your Password?</a></p>
  </div>
</div>