<div id="<%= dom_id expense %>">
  <p>
    <strong>Trip:</strong>
    <%= expense.trip_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong>Expense type:</strong>
    <%= expense.expense_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Payer:</strong>
    <%= expense.payer_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <!-- Carter, this is the contributions data! -->
  <div class="contributions">
    <p><strong>Contributions:</strong></p>
    <ul>
      <% expense.contributions.includes(:user).each do |contribution| %>
        <li>
          <strong><%= contribution.user.name %></strong>: 
          <%= number_to_currency(contribution.amount) %> 
          (<%= contribution.paid ? 'Paid' : 'Not Paid' %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>
