<p style="color: green"><%= notice %></p>

<h1>Expenses</h1>
<%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %> <!-- Link to Home, again, switch to take out embedded CSS! -->

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", trip_expense_path(expense.trip, expense) %> <!-- Update this line -->
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_trip_expense_path(@trip) %> <!-- Make sure to link to the new expense page within the current trip -->
