<p style="color: green"><%= notice %></p>



<h1>Expenses</h1>
<%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %> <!-- Link to Home, again, switch to take out embedded CSS! -->

<div id="expenses">

  <!-- JUST A START WITH THE TABLE, IDK. I trust you haha. Shows how to access the participant stuff. -->
  <!-- Very ugly. But gives you an idea of what I mean haha -->
  <!-- This doesn't use the whole "render expense" thing, so if you want to figure out how that works, go ahead!!!>
  <!-- remember to also leave room to link "editing" "and "destroying" expenses etc. -->
  <table>
  <thead>
    <tr>
      <th>Expense Name</th>
      <th>Expense Type</th>
      <th>Total Amount</th>
      <th>Payer</th>
      <th>Date</th>
      <% @trip.participants.each do |participant| %>
        <th><%= participant.user.name %></th>
      <% end %>
    </tr>
  </thead>
<tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.expense_type %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.payer.name %></td>
        <td><%= expense.date.strftime('%B %d, %Y') %></td>
        <% @trip.participants.each do |participant| %>
          <% contribution = expense.contributions.find { |c| c.user_id == participant.user.id } %>
          <td>
            <% if contribution %>
              <%= number_to_currency(contribution.amount) %> 
              (<%= contribution.paid ? 'Paid' : 'Not Paid' %>)
            <% else %>
              N/A
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5"><strong>Total Contributions:</strong></td>
      <% @trip.participants.each do |participant| %>
        <td>
          <%= number_to_currency(
            @expenses.sum do |expense| 
              expense.contributions.where(user_id: participant.user.id).sum(:amount)
            end
          ) %>
        </td>
      <% end %>
    </tr>
  </tfoot>
</table>
  
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", trip_expense_path(expense.trip, expense) %> <!-- Update this line -->
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_trip_expense_path(@trip) %> <!-- Make sure to link to the new expense page within the current trip -->
