<p class = "trips"><%= notice %></p>

<div class = "expenses">
  <h4 class = "tripsHead">Expenses</h4>
  <table>
  <thead>
    <tr class = "topRow">
      <th>Expense Name</th>
      <th>Expense Type</th>
      <th>Total Amount</th>
      <th>Payer</th>
      <th>Date</th>
      <% @trip.participants.each do |participant| %>
        <th><%= participant.user.name %></th>
      <% end %>
    </tr>
  </thead>
<tbody>
  <% @expenses.each do |expense| %>
    <tr>
      <!-- Making the Expense Name a link! -->
      <td><%= link_to expense.name, trip_expense_path(expense.trip, expense) %></td>
      <td><%= expense.expense_type %></td>
      <td><%= number_to_currency(expense.amount) %></td>
      <td><%= expense.payer.name %></td>
      <td><%= expense.date.strftime('%B %d, %Y') %></td>
      <% @trip.participants.each do |participant| %>
        <% contribution = expense.contributions.find { |c| c.user_id == participant.user.id } %>
        <td>
          <% if contribution %>
            <span class="<%= contribution.paid ? 'paid' : 'not-paid' %>">
              <%= number_to_currency(contribution.amount) %>
            </span>
          <% else %>
            N/A
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
  <tfoot>
    <tr>
      <td colspan="2"><strong>Total Expenses:</strong></td> <!-- Colspan lets us choose how many 'col'umns an elemenet 'spans'! -->
      <td colspan="2"><%= number_to_currency(@expenses.sum(&:amount)) %></td>
      <td colspan="1"><strong>Individual Contributions:</strong></td> <!-- Again, see the 'strong' tag. We use it here to emphasize this title -->
                                                                      <!-- You could just select it using CSS and bold it there, but this provides more semantic information -->

      <% @trip.participants.each do |participant| %>
        <th>
          <%= number_to_currency(
            @expenses.sum do |expense| 
              expense.contributions.where(user_id: participant.user.id).sum(:amount)
            end
          ) %> <!-- Awesome helper function! Used in conjunction with a filter to sum up amounts using a nifty quantifier -->
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>

<%= link_to "New expense", new_trip_expense_path(@trip), class: 'btn btn-primary expenseButton'%> <!--  Linking to the new expense page within the current trip -->
<%= link_to 'Back to Home', root_path, class: 'btn btn-primary expenseButton' %>
